
.about-us h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
}
.about-us img{
    margin-top: 50px;
    border-radius: 20px;
    margin-left: 100px;
    box-shadow: 0 0 20px #333;

}
.about-us p{
margin-left: 750px;
margin-top: -550px;
margin-right: 250px;
font-size: 20px;
font-family: "Mate SC", serif;
}
